@model IEnumerable<yugen_dev.Models.Client>

@if (Model != null && Model.Any())
{
    @foreach (var client in Model) {
    <p>@client.FirstName @client.LastName</p>
    <p>@client.Email</p>
    <p>@client.Address</p>
    <p>@client.PhoneNumber</p>
    }
}
else
{
    <p>Il n'y a aucun client</p>
}