@model IEnumerable<yugen_dev.Models.Menu>

<div id="menu">
    <h2 class="mt-5 mb-5 fs-2 text-center">Menu du moment</h2>
    @foreach (var menu in Model)
    {
        if (menu != null)
        {
            <div class="menu-container d-flex gap-3">
                <div class="menu-text-container d-flex flex-column flex-grow-1">
                    <div class="menu-title-container d-inline-flex mb-3">
                        <h3 class="jap-name fs-5">@menu.NameJap</h3>
                        <h3 class="flex-grow-1">@menu.NameFr</h3>
                        <h3>@menu.Price €</h3>
                    </div>

                    <!-- Group dishes by category -->
                    @foreach (var categoryGroup in menu.MenusDishes.GroupBy(md => md.Dish.Category).OrderBy(group => group.Key))
                    {
                        <div class="category-group">
                            @* <h4>Category @categoryGroup.Key</h4> *@
                            @foreach (var menuDish in categoryGroup)
                            {
                                <div class="menu-dish-container d-inline-flex">
                                    <h5 class="jap-name fs-6">@menuDish.Dish.NameJap</h5>
                                    <div class="menu-dish-description">
                                        <h5 class="fs-5">@menuDish.Dish.NameFr</h5>
                                        <p>@menuDish.Dish.Description</p>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <img src="@menu.ImagePath" class="img-fluid col-md-4" alt="Dish1" />
                @* @foreach (var menuDish in menu.MenusDishes)
        {
        <img src="@menuDish.Dish.ImagePath" class="img-fluid col-md-4" alt="Dish1" />
        break;

        } *@
            </div>

        }

    }
</div>