@model IEnumerable<yugen_dev.Models.Reservation>

@if (Model != null && Model.Any())
{
    @foreach (var reservation in Model) {
    <p>@reservation.Client.FirstName @reservation.Client.LastName</p>
    <p>@reservation.NumberPeople</p>
    <p>@reservation.DateReservation</p>
    <p>@reservation.TimeReservation</p>
    }
}
else
{
    <p>Il n'y a aucune réservation d'enregistrée</p>
}