@model IEnumerable<yugen_dev.Models.Client>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var client in Model) {
    <p>@client.FirstName</p>
    <p>@client.LastName</p>
    <p>@client.Email</p>
    <p>@client.Address</p>
    <p>@client.PhoneNumber</p>
    <p>@client.Password</p>
}