@model yugen_dev.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameFr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameFr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameJap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameJap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste des menus</a>
</div>
