@model yugen_dev.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Réservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReservation)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateReservation.ToString("dd/MM/yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeReservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Éditer</a> |
    <a asp-action="Index">Retour à la liste des réservations</a>
</div>
