@model IEnumerable<yugen_dev.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des plats</h1>

<p>
    <a asp-action="Create">Créer un nouveau plat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameFr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameJap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailedDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignatureDish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameFr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameJap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailedDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignatureDish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
