<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - yugen_dev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/yugen_dev.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Space+Grotesk&family=Noto+Sans+JP:wght@700&display=swap"
        crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-white mb-3 z-2">
            <div class="container-fluid d-flex flex-column">
                <div class="container-fluid d-flex justify-content-between">
                    <div class="marginContainer"></div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="@Url.Content("~/img/logo_yugen_blanc.png")" id="logo" class="logoImg" style="width: 230px" />
                        </a>
                    <partial name="_LoginPartial" />
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                href="@Url.Content("~/#menu")">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" 
                                    href="@Url.Content("~/#gallery")">Galerie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="Booking">Réservation </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer.cshtml")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>
    const navbar = document.getElementById('navbar');
    const logoImage = document.getElementById('logo');

    if (window.location.pathname === '/') {
        navbar.classList.add('fixed-top');
        window.addEventListener('scroll', function() {
                if (window.scrollY > 50) {
                    navbar.classList.add('scrolled');
                    logoImage.src = '@Url.Content("~/img/logo_yugen.png")'; 
                } else {
                    navbar.classList.remove('scrolled');
                    logoImage.src = '@Url.Content("~/img/logo_yugen_blanc.png")';
                }
            });
        }
        else
        {
            navbar.classList.add('scrolled');
            logoImage.src = '@Url.Content("~/img/logo_yugen.png")'; 
        }
</script>

</html>